# Django
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL
POSTGRES_DB=ecommerce_analytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (used from Phase 3 onward)
REDIS_URL=redis://redis:6379/0
